html body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', Arial, sans-serif;
	overflow-x: hidden;
}

body {
	background: rgba(248, 248, 248, 1.0);
}

#projectwheel {
	position: relative;
	display: block;
	width: 420px;
	height: 420px;
	margin-left: auto;
	margin-right: auto;
	transition: all 0.75s ease-in-out;
}

#spinner {
	position: relative;
	display: inline-block;
	border-radius: 50%;
	width: 400px;
	height: 400px;
	margin: 0 auto;
	/* http://www.colorhexa.com/0080ff shades +-5/10 */
	/* background: #0080FF; /* base color */
	border-top: 10px solid #202020; /* darkest */
	border-right: 10px solid #404040;
	border-bottom: 10px solid #606060;
	border-left: 10px solid #808080; /* lightest */
}

.proj-item {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.proj-item-1 {
	margin: -50px 150px;
	background: #FF0000;
}

.proj-item-2 {
	margin: 50px -20px;
	background: #FF8000;
}

.proj-item-3 {
	margin: 250px -20px;
	background: #FFFF00;
}

.proj-item-4 {
	margin: 350px 150px;
	background: #00FF00;
}

.proj-item-5 {
	margin: 250px 320px;
	background: #0080FF;
}

.proj-item-6 {
	margin: 50px 320px;
	background: #FF00FF;
}

.rotate1 {
	-webkit-transform: rotateZ(180deg);
	-moz-transform: rotateZ(180deg);
	-o-transform: rotateZ(180deg);
	-ms-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
}

.rotate2 {
	-webkit-transform: rotateZ(240deg);
	-moz-transform: rotateZ(240deg);
	-o-transform: rotateZ(240deg);
	-ms-transform: rotateZ(240deg);
	transform: rotateZ(240deg);
}

.rotate3 {
	-webkit-transform: rotateZ(300deg);
	-moz-transform: rotateZ(300deg);
	-o-transform: rotateZ(300deg);
	-ms-transform: rotateZ(300deg);
	transform: rotateZ(300deg);
}

.rotate4 {
	-webkit-transform: rotateZ(0deg);
	-moz-transform: rotateZ(0deg);
	-o-transform: rotateZ(0deg);
	-ms-transform: rotateZ(0deg);
	transform: rotateZ(0deg);
}

.rotate5 {
	-webkit-transform: rotateZ(60deg);
	-moz-transform: rotateZ(60deg);
	-o-transform: rotateZ(60deg);
	-ms-transform: rotateZ(60deg);
	transform: rotateZ(60deg);
}

.rotate6 {
	-webkit-transform: rotateZ(120deg);
	-moz-transform: rotateZ(120deg);
	-o-transform: rotateZ(120deg);
	-ms-transform: rotateZ(120deg);
	transform: rotateZ(120deg);
}

#projectdisplay {
	margin-left: 100px;
	margin-right: 100px;
}

#proj1 {
	display: none;
	border: 5px solid #FF0000;
	border-radius: 25px;
	padding: 20px;
}

#proj2 {
	display: none;
	border: 5px solid #FF8000;
	border-radius: 25px;
	padding: 20px;
}

#proj3 {
	display: none;
	border: 5px solid #FFFF00;
	border-radius: 25px;
	padding: 20px;
}

#proj4 {
	display: none;
	border: 5px solid #00FF00;
	border-radius: 25px;
	padding: 20px;
}

#proj5 {
	display: none;
	border: 5px solid #0080FF;
	border-radius: 25px;
	padding: 20px;
}

#proj6 {
	display: none;
	border: 5px solid #FF00FF;
	border-radius: 25px;
	padding: 20px;
}
